<h1><%= t '.title', user_name: current_user.full_name %></h1>

<ul>
    <li><%= t '.location', location: current_user.location %></li>
    <li><%= t('.bio', bio: current_user.bio) %></li>

</ul>

<%= link_to t('.edit'), edit_user_path(current_user) %>