<h1 style="color:darkgreen">Quartos recém postados</h1>
<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to t('rooms.complete_name', title: room.title, location: room.location ), room %></li>
  <% end %>
</ul>
